.brand-logo{
    height: 110px;
    /* width: 400px; */
}

.brand-container{
    display: flex;
}

.brand-container > div{
    /* width:  300px; */
}

.logo-card-wrapper{
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.booking-form{
  width: 40%;
  margin: 0 auto;
  margin-top: 10px;
  background: #ded8e3;

}


.bokked-box{
  padding: 10px;

}
.bokked-box-msg{
  padding: 10px;
  /* position: absolute;
  top: 30px; */
  /* right: 5px; */
  z-index: 999;

}
.booked-msg{
  color: white;
    width: 38%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(44, 154, 44);
    padding: 11px;
    border-radius: 20px
}
.red-text{
  color: red;
}


@media screen and (max-width:480px) {
  .booking-form{
    width: 90%;
  }
  .booked-msg{
    width: 80%;
}
}

.loader-submit{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  width: 200px;
  padding: 5px;
}
button:disabled{
  cursor: not-allowed;
}

.rotate-180{
  transform: rotate(180deg);
}
.mail-sent{
  color: white !important;
  font-weight: 600;
  font-size: 20px;
}
.welcome-hindi{
  background-color: rgb(243 228 82);
  padding: 5px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-hindi > h4, p{
  text-align: center;
}
.city-text{
  font-weight: 600;
  color: #a57315;
  font-size: 18px;
}
