.brand-logo{
    height: 110px;
    /* width: 400px; */
}

.brand-container{
    display: flex;
}

.brand-container > div{
    /* width:  300px; */
}

.logo-card-wrapper{
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.booking-form{
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width:480px) {
  .booking-form{
    width: 90%;
  }
}
